// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



.tag{
    display: inline-block;
    background-color: sandybrown;
    padding: .5em;
    margin: .5em;
    border-radius: 10em;
}
